body {
	margin: 0;
	font-family: verdana, "Lucida Grande", arial, helvetica, sans-serif;
	background-color: #000;
}

#header,
#main,
#footer {
	padding-left: 3em;
	padding-right: 3em;
}

/* Header */
#header {
	background-color: #000;
	margin-bottom: 3em;
	border-bottom: 1px #00FF08 solid;
}

#header .wrapper {
	display: table;
	width: 100%;
	margin-top: 0;
	margin-bottom: 0;
}

#header,
#nav,
#header .wrapper {
	height: 8em;
	padding-top: 0;
	padding-bottom: 0;
}

#header,
#header a,
#header a:visited {
	color: #00FF08;
	text-decoration: none;
}

.logo {
	font-size: 5em;
	margin-top: 7em;
	font-family: Impact;
	font-variant: small-caps;
}

.logo,
#nav li a {
	display: table-cell;
	vertical-align: middle;
}

#nav {
	margin-top: 0;
	margin-bottom: 0;
}

#nav li {
	list-style: none;
	float: right;
	margin-left: 0em;
	height: 100%;
	padding-left: 1em;
	padding-right: 1em;
	display: table;
}

#nav li:hover,
#nav li a:hover {
	color: #000;
	background-color: #00FF08;
}

#nav a {
	font-size: 2em;
	/*font-family: Tahoma;*/
}

/* Main */
#main,
#main a,
#main a:visited {
	color: #00FF08;
}

.post {
	border-top: 1px dashed #bbb;
}
.date {
	float: right;
	font-size: small;
}

.bio {
	display: block;
	clear: both;
	min-height: 100px;
	margin-bottom: 28px;
}
.bio img {
	float: left;
	margin-right: 2em;
	border: 1px solid #ccc;
	padding: 1px;
}

/* Footer */
#footer {
	font-size: small;
	background-color: #000;
	border-top: 1px #00FF08 solid;
	padding: .5em;
	color: #00FF08;
	text-align: center;
	margin-top: 3em;
}
