<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>{{ page.title }} - Virus-TD</title>
	<link rel="stylesheet" href="{{site.url}}/media/css/style.css" /></head>
	<script type="text/javascript" src="http://use.typekit.com/unl4jdp.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<body>
	<div id="header">
		<div class="wrapper">
		<span class="logo"><a href="{{site.url}}/" class="tk-neuropol-nova">Virus-TD</a></span>
		<ul id="nav" class="tk-neuropol-nova">
			<!-- since these are being floated right, the order here is opposite
			     of what you'll see.  Pretty awesome, neh?
			-->
			<li><a href="{{site.url}}/download.html">Download</a></li>
			<li><a href="{{site.url}}/docs.html">Docs</a></li>
			<li><a href="{{site.url}}/news.html">News</a></li>
			<li><a href="{{site.url}}/about.html">About</a></li>
		</ul>
		</div>
	</div>
	<div id="main">
		{% include post_header.html %}
		{{ content }}
	</div>
	<div id="footer">
		&copy; 2010 the Virus-TD team
	</div>
</body>
</html>
